<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ZipherX</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ZipherX</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>36</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2025 ZipherX. All rights reserved.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>ZipherX connects to Zclassic network peers to sync your wallet.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ZipherX uses the microphone for encrypted voice calls over the P2P network.</string>
	<key>NSCameraUsageDescription</key>
	<string>ZipherX uses the camera to scan QR codes for receiving payments.</string>
</dict>
</plist>
